@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51; /* Lighter black */
  --background-rgb: 242, 242, 242; /* Lighter white */
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
